let mapleader=' '
set surround
set easymotion
set highlightedyank
map <Leader> <Plug>(easymotion-prefix)

set ideamarks " Sync marks and idea bookmarks
set showmode
set encoding=utf-8
set nu
set relativenumber
set incsearch
set hlsearch
set nowrapscan
set showmatch
nnoremap 0 ^
nnoremap <esc> :nohl<cr>
nnoremap <esc> :nohls<cr>
inoremap zz <esc>zz
inoremap jk <esc>
nnoremap Y yg_

set quickscope

set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
nnoremap <Space>n :action GotoNextError<CR>

" phpstorm  快捷键
" 跳转
"imap <M-I> :action GotoImplementation<CR>
" 新版支持这种配置
imap <D-I> <Action>(GotoImplementation)
imap <D-U> :action GotoSuperMethod<CR>
nmap <D-I> :action GotoImplementation<CR>
nmap <D-U> :action GotoSuperMethod<CR>
" <M- 是非 mac 系统的快捷键， <D- 是仅 mac 系统的快捷键
imap <M-I> <Action>(GotoImplementation)
imap <M-U> :action GotoSuperMethod<CR>
nmap <M-I> :action GotoImplementation<CR>
nmap <M-U> :action GotoSuperMethod<CR>
map <C-O> <Action>(Back)
map <C-I> <Action>(Forward)
nnoremap <Space>a :action GotoSymbol<CR>

" 窗口
nnoremap <Space><Space>e :action SelectInProjectView<CR>
nnoremap <Space>e :action RecentChangedFiles<CR>
nnoremap <Space>m :action FileStructurePopup<CR>
nnoremap <Space>o :action OpenEditorInOppositeTabGroup<CR>
nnoremap ,g :action ToggleZenMode<CR>

nnoremap ,z :wq<CR>
nnoremap ,q :action CloseAllEditors<CR>
nnoremap <Space>x :action CloseAllEditorsButActive<CR>


" tab 切换
"nnoremap zh :action PreviousTab<CR>
"nnoremap zl :action NextTab<CR>
nnoremap zh :bp<CR>
nnoremap zl :bn<CR>
nnoremap <Space>1 :b1<CR>
nnoremap <Space>2 :b2<CR>
nnoremap <Space>3 :b3<CR>
nnoremap <Space>4 :b4<CR>
nnoremap <Space>5 :b5<CR>
nnoremap <Space>6 :b6<CR>
nnoremap <Space>7 :b7<CR>
nnoremap <Space>8 :b8<CR>
nnoremap <Space>9 :b9<CR>
nnoremap <Space>0 :b#<CR> " 回来切换
nnoremap <tab> :action NextSplitter<CR>

" 重构
nnoremap <Space>s :action SurroundWith<CR>
vnoremap <Space>s :action SurroundWith<CR>
nnoremap <Space>u :action FindUsages<CR>
nnoremap <Space>t :action Refactorings.QuickListPopupAction<CR>
vnoremap <Space>t :action Refactorings.QuickListPopupAction<CR>
nnoremap <Space>r :action RenameElement<CR>
nnoremap <Space>c :action ShowPopupMenu<CR>
vnoremap <Space>c :action ShowPopupMenu<CR>

" 其他
nnoremap mn :action ShowBookmarks<CR>
nnoremap mm :action ToggleBookmark<CR>
nnoremap <Space>g :action Annotate<CR>
nnoremap <Space><Space>b :action Git.Branches<CR>
nnoremap <Space><Space>g :action Vcs.Operations.Popup<CR>
nnoremap <Space>z :action ToggleFullScreen<CR>

nnoremap <Space>j :AddQuotesAndMerge<CR>

" Window operation
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

" 光标移动
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-h> <Left>
inoremap <C-l> <Right>
nmap <C-j> <Down>
nmap <C-k> <Up>
nmap <C-h> <Left>
nmap <C-l> <Right>
imap <M-l> <Esc>A
imap <M-h> <Esc>I
imap <D-l> <Esc>A
imap <D-h> <Esc>I
nmap <M-h> 0
nmap <M-l> g_
nmap <D-h> 0
nmap <D-l> g_

" 在当前行前/后快速插入空行
nnoremap [<space>  :<c-u>put! =repeat(nr2char(10), v:count1)<cr>'[
nnoremap ]<space>  :<c-u>put =repeat(nr2char(10), v:count1)<cr>

set lazyredraw

set keep-english-in-normal-and-restore-in-insert

function! AddQuotes()
    %s/^/'/g
    %s/$/',/g
endfunction

command! AddQuotes call AddQuotes()


function! AddQuotesAndMerge()
    %s/^/'/g
    %s/$/', /g
    %join
    normal I(
    normal $i)
    %s/,)/)/
endfunction
command! AddQuotesAndMerge call AddQuotesAndMerge()


vnoremap <Space>e :action MarsCode.ExplainCode.Action<CR>
