let mapleader=' '
set surround
set easymotion
set highlightedyank
map <Leader> <Plug>(easymotion-prefix)

set encoding=utf-8
set nu
set relativenumber
set incsearch
set hlsearch
set nowrapscan
set showmatch
nnoremap 0 ^
nnoremap <esc> :nohl<cr>
nnoremap <esc> :nohls<cr>
inoremap zz <esc>zz
inoremap jk <esc>
nnoremap Y yg_

" phpstorm  快捷键
" 跳转
imap <M-I> :action GotoImplementation<CR>
imap <M-U> :action GotoSuperMethod<CR>
nmap <M-I> :action GotoImplementation<CR>
nmap <M-U> :action GotoSuperMethod<CR>
nnoremap <C-O> :action Back<CR>
nnoremap <C-I> :action Forward<CR>
nnoremap <Space>a :action GotoSymbol<CR>

" 窗口
nnoremap <Space><Space>e :action SelectInProjectView<CR>
nnoremap <Space>e :action RecentChangedFiles<CR>
nnoremap <Space>m :action FileStructurePopup<CR>
nnoremap <Space>o :action OpenEditorInOppositeTabGroup<CR>
nnoremap ,g :action ToggleZenMode<CR>

nnoremap ,z :wq<CR>
nnoremap ,q :action CloseAllEditors<CR>


" tab 切换
nnoremap zh :action PreviousTab<CR>
nnoremap zl :action NextTab<CR>
nnoremap <tab> :action NextSplitter<CR>

" 重构
nnoremap <Space>s :action SurroundWith<CR>
vnoremap <Space>s :action SurroundWith<CR>
nnoremap <Space>u :action FindUsages<CR>
nnoremap <Space>t :action Refactorings.QuickListPopupAction<CR>
vnoremap <Space>t :action Refactorings.QuickListPopupAction<CR>
nnoremap <Space>r :action RenameElement<CR>
nnoremap <Space>c :action ShowPopupMenu<CR>
vnoremap <Space>c :action ShowPopupMenu<CR>

" 其他
nnoremap mn :action ShowBookmarks<CR>
nnoremap mm :action ToggleBookmark<CR>
nnoremap <Space>g :action Annotate<CR>

" Window operation
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-h> <C-W>h
nnoremap <C-l> <C-W>l

" 光标移动
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-h> <Left>
inoremap <C-l> <Right>
imap <M-l> <Esc>A
imap <M-h> <Esc>I

" Move a line of text using ALT+[jk] or Command+[jk] on mac
nmap <M-j> mz:m+<cr>`z
nmap <M-k> mz:m-2<cr>`z
